<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Course Enrollment App", "CoursesList", "StudentEnrollments", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Enroll some of our Courses", "CoursesList", "StudentEnrollments")</li>
                <li>@Html.ActionLink("Your Cart", "CartItems", controllerName: "Cart")</li>
                <li>@Html.ActionLink("Edit Courses (Admin)", "Index", "Courses")</li>
                <li>@Html.ActionLink("Enrollments (Admin)", "Index", "AdminEnrollments")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>