@using CourseEnrollmentApp.Models
@model IEnumerable<Course>

@{
    ViewBag.Title = "List of Courses";
}

@helper ApplyToThisCourseActionLink(int idValue, string enabledOrDisabled = "") { 
    @Html.ActionLink("Apply to this course", "Enroll", "StudentEnrollments", new { CourseId = idValue}, new { @class = "btn btn-primary " + enabledOrDisabled })
}

@helper AddToCartActionLink(int idValue, string enabledOrDisabled = "")
{
    <a class="btn btn-link @enabledOrDisabled" href="@Url.Action("AddToCart", "Cart", new { id = idValue })">Add to cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
}

<h2>Courses we offer</h2>
<hr />

<div>
    @using (Html.BeginForm("CoursesList", "StudentEnrollments", FormMethod.Get))
    {
        <strong>Soritng options: </strong>
        <label>
            @Html.RadioButton("option", "All") All Courses
        </label>
        <label>
            @Html.RadioButton("option", "Available") Available Courses
        </label>
        <br />
        <strong>Search for courses: </strong>
        @Html.TextBox("Search", null, htmlAttributes: new { @placeholder = "Enter Course name" })
        <input type="submit" value="Search" />
    }
</div>
<hr />


<table class="table">
    @if (Model.Count() == 0)
    {
        <tr>
            <td>
                There is no matching records. Please try again.
            </td>
        </tr>
    }
    else
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
        </tr>

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.FirstName)
                    @Html.DisplayFor(modelItem => item.Teacher.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Street)
                    @Html.DisplayFor(modelItem => item.Address.HouseNumber)
                    <br />
                    @Html.DisplayFor(modelItem => item.Address.City),
                    @Html.DisplayFor(modelItem => item.Address.Country)
                </td>
                <td id="Available">
                    @if (item.Available)
                    {
                        @:Yes
                    }
                    else
                    {
                        @:No
                    }
                </td>

                <td>
                    @if (item.Available)
                    {
                        if (Session["AlreadyAppliedCourses"] == null)
                        {
                            if (Session["Cart"] == null)
                            {
                                @ApplyToThisCourseActionLink(item.CourseId)
                                @AddToCartActionLink(item.CourseId)
                            }
                            else
                            {
                                if (((IEnumerable<Course>)Session["Cart"]).Any(c => c.CourseId == item.CourseId))
                                {
                                    @ApplyToThisCourseActionLink(item.CourseId)
                                    @AddToCartActionLink(item.CourseId, " disabled")
                                }
                                else
                                {
                                    @ApplyToThisCourseActionLink(item.CourseId)
                                    @AddToCartActionLink(item.CourseId)
                                }
                            }
                        }
                        else
                        {
                            if (((ICollection<int>)Session["AlreadyAppliedCourses"]).Contains(item.CourseId))
                            {
                                <p><i class="fa fa-check"></i> Successfully applied!</p>
                            }
                            else if (((IEnumerable<Course>)Session["Cart"]).Any(c => c.CourseId == item.CourseId))
                            {
                                @ApplyToThisCourseActionLink(item.CourseId)
                                @AddToCartActionLink(item.CourseId, " disabled")
                            }
                            else
                            {
                                @ApplyToThisCourseActionLink(item.CourseId)
                                @AddToCartActionLink(item.CourseId)
                            }
                        }
                    }
                    else
                    {
                        if (Session["AlreadyAppliedCourses"] != null && ((IList<int>)Session["AlreadyAppliedCourses"]).Contains(item.CourseId))
                        {
                            <p><i class="fa fa-check"></i> Successfully applied!</p>
                        }
                        else
                        {
                            @ApplyToThisCourseActionLink(item.CourseId, " disabled")
                            @AddToCartActionLink(item.CourseId, " disabled")
                        }
                    }
                </td>
            </tr>
        }
    }

</table>

